*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{

    color: #2f3542;

}
.logo{
    height: 65px;
    width: 65px;
}
.menu-section{
    background: black;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition:all ease-in-out 0.25s;
}
.menu{
    display: flex;
    justify-content: space-between;
    margin: 0 70px;
}
.menu-section ul{
    list-style-type: none;
    display: flex;
    margin-top: 23px;
}
.menu-section ul li a{
    margin: 0 8px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.menu-section ul li a:hover{
    cursor: pointer;
    color:rgba(109, 250, 81, 0.75) ;
}

/* =========== sticky when we scroll =========== */
.my-Sticky-menu{
    background: rgba(0, 0, 0, 0.692);
}

/* <------------------ hero section-----------------------> */
.hero-section{
    margin-top: 65px;
    background: linear-gradient(90deg, rgba(95, 189, 134,0.25), rgba(46, 213, 115,0.25)),url(/rss/bc-with-laptop.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 140px;
}
.cart{
    background-color:#222f3e;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px;
}
/* ----------hero right section------------ */
.hero-section-right form{
    background-color:#222f3e;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-section-right form h3{
    color: aliceblue;
    padding: 0px;
    font-size: 18px;
}
.hero-section-right form input{
    padding: 16px 26px;
    border: none;
    border-bottom: 1px solid indigo;
}
.gt-btn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -5px;
    cursor: pointer;
    background: linear-gradient(90deg, cyan, hotpink);
    transition: ease-in-out 0.25s;
}
.gt-btn a{
    text-decoration: none;
    color:#222f3e;
}
.gt-btn:hover{
    background-color:cyan;
}

.gt-btn:focus{

    box-shadow: 5px 0px 10px yellowgreen;
}

/* ----------hero left section------------ */
.hero-section-left{
    margin: 0px 200px 0px 10px;
    text-align: left;
}
.mcu-title{
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 1.5;
    color:#222f3e;
}
.hero-section-left h3{
    color: rgba(0, 255, 0, 0.719);
    padding: 10px 0px;
}

.hero-section-left p{
    color: whitesmoke;
    font-size: 16px;
    margin-bottom: 10px;
}

.signup{
    border: none;
    padding: 12px 32px;
    font-weight: bold;
    border-radius: 5px;
    background: linear-gradient(90deg, cyan, hotpink);
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    transition: 0.25s;
}
.signup:hover{
    box-shadow: 5px 0px 10px yellowgreen;
}